# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Prisma
packages/db/generated/

# Playwright
apps/scraper/test-results/
apps/scraper/playwright-report/
apps/scraper/blob-report/
apps/scraper/.cache/

# Debug / IDE
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
